@use "../../../breakpoints.scss";

.carousel * {
	box-sizing: border-box;

}
.carousel {
	position: relative;
	width: 100%;
	max-width: 90rem;
  margin:auto;
}
.carousel__title{
  color:var(--pine-mid)
}
.carousel__buttons-and-items-container {
	position: relative;
}
.carousel__footer:not(:empty){
  margin-top:.75rem;
}

.carousel:focus { /* snapper div receives a tabindex to allow focus for keyboard arrow control */
	outline: none;
}
.carousel_pane{
	scroll-snap-type:none
}
// @supports (scroll-snap-type: mandatory ){
	.carousel_pane {
	/* IE and edge */
		-ms-overflow-style: none;
		/* Firefox */
		scrollbar-width: none;
	}
// }

.carousel_pane {
	overflow: auto;
	width: 100%;
	/* keep old API for iOS older than 13, then use new API */
	-webkit-overflow-scrolling: touch;
	/* snap to points */
	scroll-snap-type: mandatory;
	scroll-snap-type: x mandatory;
	/* x interval for snapping (100% of container width) */
	scroll-snap-points-x: repeat(100%);
	position: relative;
	z-index: 0;
}
.carousel_pane::-webkit-scrollbar {
	display: none;
}
.carousel_items {
	display: flex;
	flex-flow: row nowrap;
	--numitems: var(--smallacross);
}
.carousel_items > *{
	position: relative;
	white-space: normal;
	box-sizing: border-box;
	flex: 1 0 auto;
	width: 100%;
	align-items: flex-start;
	display: flex;
}

.carousel_items > * {
	min-width: 0;
	width: auto;
	flex-basis: calc(100% / var(--numitems));
	flex-grow: 0;
}

@media #{breakpoints.$medium-up} {
	.carousel_items,
	.carousel__button{
		--numitems: var(--mediumacross)
	}
}
@media #{breakpoints.$large-up} {
	.carousel_items,
	.carousel__button{
		--numitems: var(--largeacross)
	}
}
@media #{breakpoints.$xlarge-up} {
	.carousel_items,
	.carousel__button{
		--numitems: var(--xlargeacross)
	}
}

.carousel_items.not-enough {
	justify-content: center
}
.btns{
  display: flex;
  gap: .5rem;
  padding:1.5rem 0px
}
.carousel__header{
  display: block
}
@media #{breakpoints.$medium-up} {
  .carousel__header{
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .btns{
    padding: 0;
  }
}
