@use "../../../breakpoints.scss";

.pane {
  --smallacross: 2.25
}
@media #{breakpoints.$large-up} {
  .pane {
    --smallacross: 3.25
  }
}
@media #{breakpoints.$xlarge-up} {
  .pane {
    --smallacross: 5
  }
}
.pane {
	/* overflow: auto; */
	width: 100%;

}
.pane::-webkit-scrollbar {
	display: none;
}
.items {
  overflow-x: scroll;
  overflow-y:hidden;
	display: flex;
	flex-flow: row nowrap;
	--numitems: var(--smallacross);
  	-webkit-overflow-scrolling: touch;
	/* snap to points */
	scroll-snap-type: mandatory;
	scroll-snap-type: x mandatory;
	/* x interval for snapping (100% of container width) */
	scroll-snap-points-x: repeat(100%);
}
.items ::ng-deep qts-scroll-card{
	position: relative;
	white-space: normal;
	box-sizing: border-box;
	flex: 1 0 auto;
	width: 100%;
	align-items: flex-start;
	display: flex;
  padding-right: 20px;
   scroll-snap-align: start;
}

.items ::ng-deep qts-scroll-card {
	min-width: 0;
	width: auto;
	flex-basis: calc(100% / var(--numitems));
	flex-grow: 0;
}

