@use "../../breakpoints.scss";

hr{
  max-width: 1440px;
  margin-inline: auto;
}
section {
  margin-bottom:80px
}
hr{
  margin-block: 0 60px;
}
section#globe{
  max-width: none;
  background-color: #ebedf7;
}
.grid-2-1{
  padding-block: 60px;
  gap:20px
}

@media #{breakpoints.$large-up} {
  .grid-2-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .scroll-card-body{
    text-align: right;
  }
}
.subhead {
   color:Red;
   font-size:13.4202px;
   letter-spacing: 3.84px;
}
