svg {
  display: block;
  width: 1em;
  height: 1em;
  fill: var(--e-global-color-secondary);
}
:host{
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  text-decoration: none;
  color:#333
}
:host:hover{
  color:var(--e-global-color-secondary);
}
span {
  width: 24px;
  justify-content: center;
  display: flex;
}
