:host{
  --_arrowcolor:#FFF;
  --_thickness:2px;
  color: #FFF;
  background-color: var(--e-global-color-3b43d11);
  border:1px solid var(--e-global-color-3b43d11);
  border-radius: 100vw;
  width: 44px;
  height: 44px;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
}
:host::after,
:host::before{
  content:"";
  display: block;
  position: absolute;
}
:host.previous::before,
:host.next::before{
  width:40%;
  height:var(--_thickness);
  background-color: var(--_arrowcolor);
  left:30%;
  transform: translateY(-50%);
}
:host.previous::after,
:host.next::after{
  border-style: solid;
  border-width:var(--_thickness) var(--_thickness) 0 0;
  border-color: var(--_arrowcolor);
  width:.5rem;
  height:.5rem;
  rotate: 45deg;
  right:0;
  translate: -130% -50%;
}
:host.previous::after{
  right:auto;
  left:0;
  translate: 130% -50%;
  rotate: -135deg;
}
:host:disabled{
  --_arrowcolor:#98989a;
  background-color: #FFF;
  border-color: #98989a;
  cursor: not-allowed;
}


:host.minus::before,
:host.minus::after,
:host.plus::before,
:host.plus::after{
  background-color: #FFF;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
:host.minus::before,
:host.plus::before{
  width:3px;
  height: 25px;
  transition: opacity .7s cubic-bezier(0.5, 0.12, 0.46, 0.88);
}
:host.minus::after,
:host.plus::after{
  height:3px;
  width: 25px;
}
:host.plus::before {
  opacity: 0;
}
