:host{
  display: grid;
  gap:20px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: center;
  justify-items: center;
}
div{
  display: flex;
  flex-direction: column;
  gap:24px;
  text-align: center;
  padding-inline: 60px;
}
@media screen and (min-width:1025px) {
  :host{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  div {
    text-align: left;
  }
  :host.alternate div{
    order:-1
  }
}

:host ::ng-deep img{
  height: auto;
  border-radius: 20px;
}
