@import 'highlight.js/styles/github.css';

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* You can add global styles to this file, and also import other style files */
:root{
    --e-global-color-primary: #000000;
    --e-global-color-secondary: #CC2031;
    --e-global-color-text: #4D4D4F;
    --e-global-color-accent: #98989A;
    --e-global-color-3b43d11: #CC2031;
    --e-global-color-728b614: #000000;
    --e-global-color-a85a07c: #4D4D4F;
    --e-global-color-0e0305a: #98989A;
    --e-global-color-6811fd9: #C8C8C8;
    --e-global-color-bc965fb: #FAC8CA;
    --e-global-color-8371eaa: #AA182C;
    --e-global-color-f095139: #79242F;
    --e-global-color-02f346e: #27377A;
    --e-global-color-f2d0a80: #141C3E;
    --e-global-color-f935b21: #D6DAEB;
    --e-global-color-93ce9c1: #EAEDF5;
    --e-global-color-efd592e: #FFFFFF;
    --e-global-typography-primary-font-family: "Founders Grotesk";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Founders Grotesk";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Founders Grotesk";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-font-style: normal;
    --e-global-typography-text-line-height: 1.5rem;
    --e-global-typography-accent-font-family: "Founders Grotesk";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-5fb8c18-font-family: "Founders Grotesk";
    --e-global-typography-5fb8c18-font-size: clamp(2.25rem, 1.8929rem + 1.7857vw, 3.5rem);
    --e-global-typography-5fb8c18-font-weight: 500;
    --e-global-typography-5fb8c18-line-height: clamp(2.5rem, 2.1429rem + 1.7857vw, 3.75rem);
    --e-global-typography-5fb8c18-letter-spacing: -0.02rem;
    --e-global-typography-74042a2-font-family: "Founders Grotesk";
    --e-global-typography-74042a2-font-size: clamp(2rem, 1.7143rem + 1.4286vw, 3rem);
    --e-global-typography-74042a2-font-weight: 500;
    --e-global-typography-74042a2-line-height: clamp(2rem, 1.7143rem + 1.4286vw, 3rem);
    --e-global-typography-74042a2-letter-spacing: -0.02rem;
    --e-global-typography-b524b30-font-family: "Founders Grotesk";
    --e-global-typography-b524b30-font-size: clamp(1.75rem, 1.6071rem + 0.7143vw, 2.25rem);
    --e-global-typography-b524b30-font-weight: 500;
    --e-global-typography-b524b30-line-height: font-size: clamp(2.25rem, 2.0714rem + 0.8929vw, 2.875rem);
    --e-global-typography-b524b30-letter-spacing: -0.02rem;
    --e-global-typography-fa73187-font-family: "Founders Grotesk";
    --e-global-typography-fa73187-font-size: clamp(1.5rem, 1.4643rem + 0.1786vw, 1.625rem);
    --e-global-typography-fa73187-font-weight: 500;
    --e-global-typography-fa73187-line-height: clamp(1.625rem, 1.5536rem + 0.3571vw, 1.875rem);
    --e-global-typography-fa73187-letter-spacing: -0.02rem;
    --e-global-typography-c178151-font-family: "Founders Grotesk";
    --e-global-typography-c178151-font-size: clamp(1.125rem, 1.0536rem + 0.3571vw, 1.375rem);
    --e-global-typography-c178151-font-weight: 500;
    --e-global-typography-c178151-line-height: clamp(1.375rem, 1.3036rem + 0.3571vw, 1.625rem);
    --e-global-typography-c178151-letter-spacing: -0.01rem;
    --e-global-typography-ed169da-font-family: "Lora";
    --e-global-typography-ed169da-font-size: 28px;
    --e-global-typography-ed169da-font-weight: 400;
    --e-global-typography-ed169da-line-height: 40px;
    --e-global-typography-ed169da-letter-spacing: -0.01rem;
    --e-global-typography-65d2769-font-family: "Founders Grotesk";
    --e-global-typography-65d2769-font-size: 18px;
    --e-global-typography-65d2769-font-weight: 700;
    --e-global-typography-65d2769-line-height: 24px;
    --e-global-typography-a92b5a5-font-family: "Founders Grotesk";
    --e-global-typography-a92b5a5-font-size: 18px;
    --e-global-typography-a92b5a5-font-weight: 400;
    --e-global-typography-a92b5a5-line-height: 24px;
    --e-global-typography-6a49e2d-font-family: "Founders Grotesk";
    --e-global-typography-6a49e2d-font-size: 14px;
    --e-global-typography-6a49e2d-font-weight: 400;
    --e-global-typography-6a49e2d-line-height: 22px;
    --e-global-typography-19f2442-font-family: "Founders Grotesk";
    --e-global-typography-19f2442-font-size: 12px;
    --e-global-typography-19f2442-font-weight: 400;
    --e-global-typography-19f2442-line-height: 22px;
    --e-global-typography-620eaa2-font-family: "Founders Grotesk";
    --e-global-typography-620eaa2-font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
    --e-global-typography-620eaa2-font-weight: 700;
    --e-global-typography-620eaa2-text-transform: uppercase;
    --e-global-typography-620eaa2-line-height: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    --e-global-typography-620eaa2-letter-spacing: 0.24rem;
    --e-global-typography-fdc7fd0-font-family: "Founders Grotesk";
    --e-global-typography-fdc7fd0-font-size: 16px;
    --e-global-typography-fdc7fd0-font-weight: 700;
    --e-global-typography-fdc7fd0-line-height: font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
    --e-global-typography-fdc7fd0-letter-spacing: -0.01rem;

    --border-radius:24px;
}
@font-face {
    font-family: 'Founders Grotesk';
    src: url('assets/fonts/TestFoundersGrotesk-Regular.otf') format("opentype");
     font-weight: normal;
      font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('assets/fonts/cera-pro-regular.woff') format("woff");
     font-weight: normal;
      font-style: normal;
}

body {
  font-family: "Founders Grotesk", Sans-serif;
  color:#333;
}
a.button-link-primary,
a.button-link-secondary{
  background-color: var( --e-global-color-secondary );
  color:#FFF;
  border-radius: 50px;
  font-size: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: var( --e-global-color-secondary );
  padding:8px 24px 8px 24px;
  text-decoration: none;
  font-weight: 700;
  transition: all .3s
}
a.button-link-primary:hover,
a.button-link-secondary:hover{
  background-color: var( --e-global-color-8371eaa );
}
a.button-link-secondary {
  background-color:#FFF;
  color:var(--e-global-color-primary);
  border-color: var(--e-global-color-6811fd9);
}
a.button-link-secondary:hover{
  border-color: var(--e-global-color-primary);
}
b{
  color:var(--e-global-color-secondary)
}
h3 {
  font-size:clamp(1.75rem, 1.6071rem + 0.7143vw, 2.25rem)
}
.midwidth{
  --_padding:36px;
  padding:var(--_padding);
  max-width:calc(1440px + var(--_padding));
  margin-inline: auto;
  display: block;
}
