@import 'highlight.js/styles/github.css';

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* You can add global styles to this file, and also import other style files */
:root{
  --e-global-color-primary: #000000;
    --e-global-color-secondary: #CC2031;
    --e-global-color-text: #4D4D4F;
    --e-global-color-accent: #98989A;
    --e-global-color-3b43d11: #CC2031;
    --e-global-color-728b614: #000000;
    --e-global-color-a85a07c: #4D4D4F;
    --e-global-color-0e0305a: #98989A;
    --e-global-color-6811fd9: #C8C8C8;
    --e-global-color-bc965fb: #FAC8CA;
    --e-global-color-8371eaa: #AA182C;
    --e-global-color-f095139: #79242F;
    --e-global-color-02f346e: #27377A;
    --e-global-color-f2d0a80: #141C3E;
    --e-global-color-f935b21: #D6DAEB;
    --e-global-color-93ce9c1: #EAEDF5;
    --e-global-color-efd592e: #FFFFFF;


    --border-radius:24px;
}
@font-face {
    font-family: 'Founders Grotesk';
    font-display: auto;
    src: url('/TestFoundersGrotesk-Regular.otf') format('otf');
}
@font-face {
    font-family: 'Cera Pro';
    font-display: auto;
    src: url('/Fontspring-DEMO-cerapro-regulfar.otf') format('otf');
}
body {
  font-family: "Founders Grotesk", Sans-serif;
  color:#333;
}
a.button-link-primary,
a.button-link-secondary{
  background-color: var( --e-global-color-secondary );
  color:#FFF;
  border-radius: 50px;
  font-size: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: var( --e-global-color-secondary );
  padding:8px 24px 8px 24px;
  text-decoration: none;
  font-weight: 700;
  transition: all .3s
}
a.button-link-primary:hover,
a.button-link-secondary:hover{
  background-color: var( --e-global-color-8371eaa );
}
a.button-link-secondary {
  background-color:#FFF;
  color:var(--e-global-color-primary);
  border-color: var(--e-global-color-6811fd9);
}
a.button-link-secondary:hover{
  border-color: var(--e-global-color-primary);
}
b{
  color:var(--e-global-color-secondary)
}
h3 {
  font-size:clamp(1.75rem, 1.6071rem + 0.7143vw, 2.25rem)
}
